/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

nav {
  background: #ffffff;
  height: 70px;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 40px;
  margin-left: 40px;
  margin-top: 5px;
}

nav ul {
  float: right;
  margin-right: 50px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}

a.active,
a:hover {
  background: #1b9bff;
  transition: 0.5s;
}

.checkbtn,
.checkbtn-close {
  font-size: 22px;
  color: rgb(0, 0, 0);
  float: right;
  line-height: 80px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

.contact-us {
  display: none;
}

#check {
  display: none;
}

@media (max-width: 1050px) {
  label.logo {
    padding-left: 30px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

.contact-us {
  margin-top: 10px;
}

hr {
  display: none;
}

/* Responsive media query for small screens */
@media (max-width: 890px) {
  .checkbtn {
    display: block;
  }
  
  .logo img {
    width: 60px;
    margin-left: 0;
  }

  nav ul {
    border-radius: 40px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    right: -100%; /* Start hidden off-screen */
    transition: right 0.5s ease-in-out;
  }

  nav ul li {
    display: block;
    margin: 50px auto; /* Center items */
    line-height: 30px;
    text-align: center; /* Center text */
  }

  nav ul li a {
    font-size: 20px;
  }

  a.active,
  a:hover {
    background: none;
    color: #0082e6;
  }

  #check:checked ~ ul {
    right: 0; /* Slide in the menu */
  }

  hr {
    display: block;
    border: none; /* Remove default border */
    height: 1px; /* Set the height of the line */
    background-color: #0d1d209c; /* Set the color of the line */
    margin: -20px 0; /* Add space above and below the line */
    width: 70%; /* Set the width of the line */
    margin-left: auto;
    margin-right: auto;
  }

  .contact-us {
    display: block;
    text-align: center;
    background-color: #0082e6;
    width: 75%;
    height: 50px;
    border-radius: 25px;
    margin: 20px auto; /* Center block */
  }

  .contact-us a {
    font-size: 25px;
    color: white;
    line-height: 50px;
  }

  .contact-us:hover {
    background-color: #00a2ff;
    transition: background-color 0.5s ease-in-out;
  }
}
